{% extends '../../old_templates/base.html' %}

{% set user_fields = (('First Name','first_name'),('Last Name','last_name'),
('E-mail','email'),('Username','user_name'),('Admin','admin')) %}

{% set server_fields = (('ID', 'id'),('Rack','rack'),('U','u'),
('Name','get_name'),('Model','model'),('CPU Count','cpu_count'),
('CPU Model','cpu_model'),('Memory','memory_capacity'))%}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
{% endblock %}

{% block scripts %}

    $(document).ready(function () {
        $("#searchInput").keyup(
            function () {
                counttable();
                updateStriping();
            }
        )
    });
{% endblock %}

{% block content %}
    <h2>User's Info</h2>
    <div class="pane-frame">
        <table class="pane bigtable stripped">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    <th colspan="2" style="text-align:center;">
                        User Info
                    </th>
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {% for k, v in user_fields %}
                <tr>
                    <td style="text-align:right;">
                        {{ k }}:
                    </td>
                    <td>
                        <i>{{ other_user[v] }}</i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="padding-top:5px;">
        <a href="/admin/users/{{ other_user.user_name }}/edit">Edit User's Info</a>
    </div>
    <!-- User's Servers -->
    <h2>User's Servers</h2>
    {% if other_user.servers %}
    <p><input id="searchInput" placeholder="Filter"></p>
    <div id="my_servers">
        <div class="pane-frame" style="width:100%;">
            <table id="aaetable" class="sortable pane bigtable stripped count">
                <thead>
                    <tr class="header">
                    {# create header for inventory table #}
                        {% for k, v in server_fields %}
                            {# set count types for columns #}
                            {% if k == 'Release' %}
                                {% set units = 'none' %}
                                {% set count_type = 'ignore' %}
                                {% set class = " class=sorttable_nosort" %}
                            {% elif k in ['Memory', 'Capacity'] %}
                                {% set count_type = 'sum' %}
                                {% set units = 'GB' %}
                            {% else %}
                                {% set units = 'none' %}
                                {% set count_type = 'unique' %}
                            {% endif %}
                            <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                                {{ k }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody id="fbody">
                {# loop over servers in inventory #}
                {%- for server in other_user.servers -%}
                    <tr id="{{ server.id }}">
                    {% for k, v in server_fields %}
                        <td>
                        {% if v == 'id' %}
                            {% set server_id = server['id'] %}
                            <a href="/inventory/{{ server_id }}">
                            {{ server_id }}
                            </a>
                        {% elif v == 'release' %}
                            <button onclick="release('{{ server.id }}','')">
                                Release
                            </button>
                        {% else %}
                            {% if v == 'get_name' %}
                            {{ server.get_name() }}
                            {% else %}
                            {{ server[v] }}
                            {% endif %}
                            <span class="custom_count" style="display:none">{{ server[v] }}</span>
                        {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        User has no servers checked out.
    {% endif %}

    <h2>User's Projects</h2>
    {% if other_user.projects %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    {% for k, v in server_fields %}
                    <th>
                        {{ k }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for server in other_user.servers -%}
                <tr>
                {% for k, v in server_fields %}
                    <td>
                    {% if v == 'id' %}
                        {% set server_id = server['id'] %}
                        <a href="/inventory/{{ server_id }}">
                        {{ server_id }}
                        </a>
                    {% elif v == 'release' %}
                        <form>
                            <button formaction='/inventory/release/{{ server.id }}'>
                                Release
                            </button>
                        </form>
                    {% else %}
                        {{ server[v] }}
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        User has no projects yet.
    {% endif %}
{% endblock %}
