{% block navbar %}
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/my_info">My Info</a>
                <ul>
                    <li><a href="/my_info">View My Info</a></li>
                    <li><a href="/my_info/edit">Edit My Info</a></li>
                </ul>
            </li>
            <li><a href="/inventory">Inventory</a>
                <ul>
                    <li><a href="/inventory">Servers</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/inventory/add">Add Server</a></li>
                </ul>
            </li>
            <li><a href="/deploy">Deploy</a></li>
            <li><a href="/jobs">Jobs</a>
            </li>
            {% if user.admin == true %}
                <li style="background-color:yellow;"><a href="/admin">Admin</a>
                    <ul>
                        <li><a href="/admin">Admin</a>
                        <li><a href="/debug">Run Debug</a></li>
                        <li><a href="/last_debug">View Last Debug</a></li>
                        <li><a href="/last_debug_out">View Last Output</a></li>
                    </ul>
                </li>
            {% endif %}
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
{% endblock %}
