{% extends 'base.html' %}

{% set group_fields = (('Group ID','id'),('Group Name','group_name'),
('DescriptionD','description')) %}
{% set member_fields = (('Name','user_name'),
('Groups','groups')) %}

{% block content %}
    <h2>Group Info</h2>
    <div class="pane-frame">
        <table class="pane bigtable stripped">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    <th colspan="2" style="text-align:center;">
                        Group Info
                    </th>
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {% for k, v in group_fields %}
                <tr>
                    <td style="text-align:right;">
                        {{ k }}:
                    </td>
                    <td>
                        <i>{{ group[v] }}</i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="padding-top:5px;">
        <a href="/admin/groups/{{ group.id }}/edit">Edit Group Info</a>
    </div>
    <h2>Members</h2>
    {% if group.members %}
    <p><input id="searchInput" placeholder="Filter"></p>
    <table class="sortable pane bigtable stripped">
        <thead>
            <tr class="header">
            {% for k, v in member_fields %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody id="fbody">
        {% for m in group.members %}
            <tr>
            {% for k, v in member_fields %}
                <td>
                {% if v == 'groups' %}
                    {{ m[v]|count }}
                {% else %}
                    {{ m[v] }}
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No members
    {% endif %}
    <p><a href="/admin/groups/{{ group.id }}/add_member">Add Member</a></p>
    {% if (user.admin) %}
    <h2>Delete Group</h2>
    <div>
        <button onclick="return delete_group('{{ group.id }}')">
            Delete Group
        </button>
    </div>
    {% endif %}
{% endblock %}
