{% extends 'base.html' %}

{% set add_user_fields = ('first_name', 'last_name','user_name','email','password') %}
{% set delete_user_fields = ('user',) %}
{% set users_fields = (('First Name','first_name'),('Last Name','last_name'),
('User Name','user_name'),('E-mail','email'),('Admin','admin')) %}

{% block content %}
    <h2>Administration</h2>
    <h2>Users</h2>
    <table class="sortable pane bigtable stripped">
        <thead>
            <tr class="header">
            {% for k, v in users_fields %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
            {% for k, v in users_fields %}
                <td>
                {% if v == 'email' %}
                    <a href="/admin/users/{{ u.user_name }}" title="Edit user">{{ u[v] }}</a>
                {% else %}
                    {{ u[v] }}
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Add User</h3>
    <div>
        <form action="" method="POST" name="add_user">
            {{ add_user_form.hidden_tag() }}
            <div style="height:150px;margin:auto;float:left;">
                <table class="edit_info bigtable pane bigtable stripped" style="width:auto;">
                    <thead>
                        <tr>
                            <th colspan="2">
                                My Info
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {# loop over servers in inventory #}
                    {% for field_name in add_user_fields %}
                        <tr>
                        {% set field = add_user_form[field_name] %}
                            <td style="text-align:right;">
                            {{ field.label.text }}:
                            </td>
                            <td style="text-align:left;">
                            {{ field }}
                            </td>
                            {% if field.errors %}
                                <td>
                                {% for error in field.errors %}
                                    <span style="color:red;">[{{ error }}]</span>
                                {% endfor %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Submit" style="margin-top:10px;">
            </div>
        </form>
    </div>
{% endblock %}