{% extends 'base.html' %}

{% set users_fields = (('First Name','first_name'),('Last Name','last_name'),
('User Name','user_name'),('E-mail','email'),('Admin','admin'),('Groups','groups')) %}
{% set groups_fields = (('GID','id'),('Name','group_name'),
('Members','members'),('Servers','servers'),('Description','description')) %}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
{% endblock %}

{% block content %}
    <h2>Users</h2>
    <p><input id="searchInput1" placeholder="Filter"></p>
    <table class="sortable pane bigtable stripped">
        <thead>
            <tr class="header">
            {% for k, v in users_fields %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody id="fbody1">
        {% for u in users %}
            <tr>
            {% for k, v in users_fields %}
                <td>
                {% if v == 'user_name' %}
                    <a href="/admin/users/{{ u.user_name }}" title="Edit user">{{ u[v] }}</a>
                {% elif v == 'groups' %}
                    {{ u.groups|join(',') }}
                {% else %}
                    {{ u[v] }}
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="padding-top:5px;">
        <a href="/admin/user/add">Add User</a>
    </div>
    <h2>Groups</h2>
    {% if groups %}
        <p><input id="searchInput2" placeholder="Filter"></p>
        <table class="sortable pane bigtable stripped">
            <thead>
                <tr class="header">
                {% for k, v in groups_fields %}
                    <th>
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody id="fbody2">
            {% for g in groups %}
                <tr>
                {% for k, v in groups_fields %}
                    <td>
                    {% if v == 'group_name' %}
                        <a href="/admin/groups/{{ g.id }}">{{ g[v] }}</a>
                    {% elif v in ('members','servers') %}
                        {{ g[v]|count }}
                    {% else %}
                        {{ g[v] }}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No groups
    {% endif %}
    <p>
        <a href="/admin/group/add">Add Group</a>
    </p>
{% endblock %}