{% extends "header_base.html" %}

{% block links %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block body %}
    <div class="top_header">
        <span style="display:block;width:100%;min-width:1000px;margin-bottom:70px;">
            <div style="display:inline-block;position:fixed;">
                <img src={{ url_for('static', filename='pictures/micronlogos/high_res_micron_logo_black.png') }} class="top_image">
            </div>
            <div style="display:inline-block;position:fixed;z-index:1;right:0px;top:0px;width:500px;">
                {% include "aae_navbar.html" %}
            </div>
        </span>
        <h1 style="width:100%;">AutoBench</h1>
    </div>
    <div class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flashedmessages">
                    <ul>
                    {% for message in messages %}
                        <li class="message">{{ message }} </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div style="margin: 0 20px;">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div style="margin-top:2em;">
        <address>Last updated {{ date }} by Collin Murphy.</address>
    </div>
{% endblock %}
