{% extends "base.html" %}

{# =============================================================== #}
{# set head data #}
{# =============================================================== #}

{% block scripts %}
    {# function to dynamically load selected server data #}
    {{ super() }}
    $(document).ready(function () {
        $("#target").change(function() {
            var selection = this.options[this.selectedIndex].value;
            if (selection == '__None') {
                document.getElementById("os").disabled = true;
                document.getElementById("os").value = '__None';
            } else {
                document.getElementById("os").disabled = false;
            }
            var e = document.getElementById("target");
            var server_id = e.value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    document.getElementById("server_info").innerHTML = xhttp.responseText;
                }
            }
            xhttp.open("POST", "server_info", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({id: server_id}));
        });
    });
{% endblock %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2>Deploy a server</h2>
    <form action='' method='POST' name='deploy'>
        {{ form.hidden_tag() }}
        <div class="build_step" style="border:1px solid #00447c; padding:10px; display:inline-block;">
            <span>
                <div style="height:150px;margin:auto;float:left;">
                    {% for v in (form.target, form.os) %}
                        <br>
                        {% set label = v.label.text %}
                        {% if label == 'OS' %}
                            {% set v = v(disabled=True) %}
                        {% endif %}
                        <p>
                            {{ label }}:<br>{{ v }}
                            {% for error in v.errors %}
                                <span style="color:red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
                <div style="float:right;margin-left:30px;">
                    <span id="server_info"></span>
                </div>
            </span>
        </div>
        <br>
        <input type="submit" value="Deploy">
    </form>
{% endblock %}