{% extends "base.html" %}
{% import "inventory_macros.html" as inventory_macros %}

{# =============================================================== #}
{# set variables #}
{# =============================================================== #}

{% set field_pairs = (('Name','name'),('Group','group'),
('Location','location')) %}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
{% endblock %}

{% block scripts %}
    $(document).ready(function () {
        $("#searchInput").keyup(
            function () {
                counttable();
                updateStriping();
            }
        );
        $("th").click(
            function () {
                updateStriping();
            }
        );
    });
{% endblock %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2>Inventory</h2>
    <div>
        <h3>Machines available for testing:</h3>
    </div>
    <h2>Servers</h2>
    {{ inventory_macros.servers_table(servers,user) }}
    {# add link to create inventory at bottom of inventory list #}
    <div style="padding-top: 10px;">
        <a href="/inventory/servers/add">Add server</a>
    </div>
    <h2>Switches</h2>
    {{ inventory_macros.switches_table(switches,user,table_num=2) }}
    {# add link to create inventory at bottom of inventory list #}
    <div style="padding-top: 10px;">
        <a href="/inventory/switches/add">Add switch</a>
    </div>
{% endblock %}
