{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}
    $(document).ready(function () {
        $("#network_address").on('change paste input', function(){
            var mac = this.value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                var vi = document.getElementById("vendor_info");
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    vendor = xhttp.responseText;
                    vi.innerHTML = vendor;
                    vi.style.background = '#d3d5d8';
                    un = document.getElementById('user_name');
                    pw = document.getElementById('password');
                    if (vendor.toLowerCase().startsWith('super')) {
                        console.log('Got a Super Micro.');
                        un.value = 'ADMIN';
                        pw.value = 'ADMIN';
                    } else {
                        console.log('Got a something else.');
                        un.value = 'root';
                        pw.value = 'Not24Get';
                    }
                } else if (xhttp.readyState == 4) {
                    vi.style.background = null;
                    vi.innerHTML = '';
                }
            }
            xhttp.open("GET", 'http://api.macvendors.com/' + mac, true);
            xhttp.send();
        });
    });
{% endblock %}

{% block content %}
    <h2>Add hardware</h2>
    <div style="display:inline-block;width:100%;">
        <div style="float:left;">
            <form action="" method="POST" name="add_inventory">
                {{ form.hidden_tag() }}
                <div class="add_inventory">
                {% for field in (form.rack, form.u, form.network_address, form.user_name, form.password, form.group) %}
                    <p>
                        {{ field.label.text }}:<br>
                        {% if field.label.text.lower() == 'rack' %}
                        {{ field(autofocus=true) }}
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% for error in field.errors %}
                            <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                {% endfor %}

                </div>
                <input type="submit" value="submit">
            </form>
        </div>
        <div id="vendor_info" style="float:right;padding:20px;"></div>
    </div>
{% endblock %}