{% extends 'base.html' %}

{# =============================================================== #}
{# set head data #}
{# =============================================================== #}

{% block meta %}
{{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block links %}
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    function checkout(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                updateStatus(id, "");
            }
        };
        xhttp.open("POST", "checkout", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }
    function release(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                updateStatus(id, "");
            }
        };
        xhttp.open("POST", "release", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }
    function updateStatus(id, method, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                var statusDiv = document.getElementById('inventory_status');
                statusDiv.innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("POST", '/inventory/status', true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }
    function updateServer(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                alert('You can view the status of the update in the "Jobs" tab.');
            }
        };
        xhttp.open("POST", '/inventory/update', true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }
    {% if user.admin %}
    function deleteServer(id, next) {
        if (confirm("Are you sure you want to delete this server?") == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    window.location = '/inventory';
                }
            };
            xhttp.open("POST", '/inventory/delete', true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({id: id, next: next}));
        }
    }
    {% endif %}
{% endblock %}

{# =============================================================== #}
{# set variables #}
{# =============================================================== #}

{% set server_fields = (('ID', 'id'),('Name','name'),('Host Name','host_name'),
('Make','make'),('Model','model'),('CPU Count','cpu_count'),('CPU Model','cpu_model'),
('BIOS','bios'),('Memory','memory_capacity'),('Rack','rack'),('U','u'),
('Username','user_name'),('Password','password'),('Available','available')) %}

{% set drive_fields = (('Slot','slot'),('Manufacturer','manufacturer'),
('Model','model'),('Capacity','capacity'),('Standard','standard'),
('Type','type'),('Serial Number','serial_number')) %}

{% set virtual_drive_fields = (('Number','number'),('Name','name'),
('Capacity','capacity'),('RAID Level','raid')) %}

{% set network_fields = (('Device','name'),('Slot.[slot-port-virt]','slot'),
('MAC','mac'),('IP','ip'),('Type','type')) %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2>Ownership</h2>
    <div id="inventory_status">
        {% include "inventory_status.html" %}
    </div>
    <!-- Basic server info -->
    <h2 style="padding-bottom: 10px;">Basic Info</h2>
    <div style="display:inline-block;width:100%;">
        <div style="float:left;">
            <div class="pane-frame" style="width:auto;">
                <table id="aaetable" class="sortable pane bigtable stripped">
                    <tbody>
                    <tr class="header">
                    {# create header for table #}
                        <th style="text-align:right;">
                            Field:
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                    {# loop over field values for each parame #}
                    {% for k, v in server_fields %}
                    <tr>
                        <td style="text-align:right;">
                            {{ k }}:
                        </td>
                        <td>
                            {% if server[v] != None %}
                                <i>{{ server[v] }}</i>
                            {% else %}
                                <i>N/A</i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align:right">
                            Held By:
                        </td>
                        <td>
                        {% if server['holder'] != None %}
                            <i>{{ server['holder'].first_name }} {{ server['holder'].last_name }}</i>
                        {% else %}
                            Nobody
                        {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <a href="/inventory/{{ server.id }}/edit">Edit Server Info</a>
        </div>
        {% if server.held_by == user.id or user.admin %}
        {% if server.dirty %}
        <div style="float:right;padding:0 10px;background-color:#B7D433;text-align:center;border: 1px solid #414042;">
            <p>This server is dirty! You should update it!</p>
        {% else %}
        <div style="float:right;padding:0 10px;background-color:#d3d5d8;text-align:center;border: 1px solid #414042;">
            <p>Has the server info changed? Update it!</p>
        {% endif %}
            <p><button onclick="updateServer('{{ server.id }}','')">Update</button></p>
        </div>
        {% endif %}
    </div>
    <!-- Drive info -->
    <h2 style="padding-bottom: 10px;">Drive Info</h2>
    {% if server.drives.all()|length >= 1 %}
        <div class="pane-frame" style="width:100%;">
            <table id="aaetable" class="sortable pane bigtable stripped">
                <tbody>
                <tr class="header">
                {# create header for inventory table #}
                {% for k, v in drive_fields %}
                    <th>
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
                {# loop over drives in server #}
                {% for drive in server.drives.order_by('slot') %}
                <tr>
                {# loop over field values for each server #}
                {% for k, v in drive_fields %}
                    <td>
                    {% if drive[v] is defined %}
                        {{ drive[v] }}
                    {% else %}
                        {{ drive['info'][v] }}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No drives found.
    {% endif %}
    <!-- Virtual drive info -->
    <h2 style="padding-bottom: 10px;">Virtual Drive Info</h2>
    {% if server.virtual_drives.all()|length >= 1 %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped">
            <tbody>
            <tr class="header">
            {# create header for inventory table #}
            {% for k, v in virtual_drive_fields %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
            </tr>
            {# loop over drives in server #}
            {% for drive in server.virtual_drives.order_by('number') %}
            <tr>
            {# loop over field values for each server #}
            {% for k, v in virtual_drive_fields %}
                <td>
                {% if drive[v] is defined %}
                    {{ drive[v] }}
                {% else %}
                    Empty
                {% endif %}
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        No virtual drives found.
    {% endif %}
    <!-- Networking info -->
    <h2 style="padding-bottom: 10px;">Network Info</h2>
    {% if server.interfaces.all()|length >= 1 %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped">
            <tbody>
            <tr class="header">
            {# create header for inventory table #}
            {% for k, v in network_fields %}
                <th>
                    {{ k }}
                </th>
            {% endfor %}
            </tr>
            {# loop over drives in server #}
            {% for interface in server.interfaces %}
            <tr>
            {# loop over field values for each server #}
            {% for k, v in network_fields %}
                <td>
                    {{ interface[v] }}
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No network interfaces found.</p>
        <p><a href="/inventory/{{ server.id }}/add_oob">Add Out of Band Interface</a></p>
    {% endif %}
    <div style="padding-top: 10px;">
        <a href="/inventory">Back</a>
    </div>
{% endblock %}