{% extends "/base.html" %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
<div class="pane-frame" style="margin:1em 1em 1em 1em;white-space:normal;">
    <table id="projectinfo" class="sortable pane bigtable stripped">
        <thead>
            <tr class="header">
                <th style="text-align:right">
                    Key:&nbsp;
                </th>
                <th style="text-align:left">
                    &nbsp;Value
                </th>
            </tr>
        </thead>
        <tbody>
        {% for key, value in job_info.items() %}
            <tr>
                <td style="text-align:right">
                    {{ key }}
                </td>
                <td style="text-align:left">
                {% if value is string %}
                    {{ '{}'.format(value) }}
                {% elif value is sequence %}
                    <ul>
                    {% for item in value %}
                        <li>{{ '{}'.format(item) }}</li>
                    {% endfor %}
                    </ul>
                {% elif value is mapping %}
                    <div style="background:red;">
                    {% for k, v in value.items() %}
                        <li>{{ '{}: {}'.format(k, v)  }}</li>
                    {% endfor %}
                    </div>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
