{% extends 'base.html' %}

{% set user_fields = (('First Name','first_name'),('Last Name','last_name'),
('E-mail','email'),('Username','user_name')) %}

{% set project_fields = (('Project ID','id'),('Name','name'),
('Owner','owner'),('Start Date','date_created'),
('Completion Date','date_target_completion')) %}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
{% endblock %}

{% block scripts %}
    $(document).ready(function () {
        $("#searchInput").keyup(
            function () {
                counttable();
                updateStriping();
            }
        )
    });
{% endblock %}

{% block content %}
    <h2>My Info</h2>
    <div class="pane-frame">
        <table class="pane bigtable stripped">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    <th colspan="2" style="text-align:center;">
                        User Info
                    </th>
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {% for k, v in user_fields %}
                <tr>
                    <td style="text-align:right;">
                        {{ k }}:
                    </td>
                    <td>
                        <i>{{ user[v] }}</i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="padding-top:5px;">
        <a href="/my_info/edit">Edit My Info</a>
    </div>

    <h2>My Projects</h2>
    {% if user.projects %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped count">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    {% for k, v in project_fields %}
                    <th>
                        {{ k }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for project in user.projects -%}
                <tr>
                {% for k, v in project_fields %}
                    <td>
                    {% if v == 'id' %}
                        {% set project_id = project.id %}
                        <a href="/projects/{{ project_id }}">
                        {{ project_id }}
                        </a>
                    {% else %}
                        {{ project[v] }}
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        You have no projects yet.
    {% endif %}
    <p>
        <a href="/projects/add">Add Project</a>
    </p>
{% endblock %}