{% extends 'base.html' %}

{% set user_fields = (('First Name','first_name'),('Last Name','last_name'),
('E-mail','email'),('Username','user_name')) %}

{% set project_fields = (('Project ID','id'),('Name','name'),
('Owner','owner'),('Start Date','start_date'),
('Completion Date','target_end_date')) %}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
{% endblock %}

{% block scripts %}
    $(document).ready(function () {
        $("#searchInput").keyup(
            function () {
                counttable();
                updateStriping();
            }
        )
    });
{% endblock %}

{% block content %}
    <h2>My Info</h2>
    <div class="pane-frame">
        <table class="pane bigtable stripped">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    <th colspan="2" style="text-align:center;">
                        User Info
                    </th>
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {% for k, v in user_fields %}
                <tr>
                    <td style="text-align:right;">
                        {{ k }}:
                    </td>
                    <td>
                        <i>{{ user[v] }}</i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="padding-top:5px;">
        <a href="/my_info/edit">Edit My Info</a>
    </div>

    <h2>My Projects</h2>
    {% if user.projects_owned %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped count">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    {% for k, v in project_fields %}
                    <th>
                        {{ k }}
                    </th>
                    {% endfor %}
                    <th class="sorttable_nosort" count_type="ignore">
                        <a href="/projects/add">
                            <img src="{{ url_for('static', filename='pictures/plus_blue.png') }}"/>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for project in user.projects_owned -%}
                <tr>
                {% for k, v in project_fields %}
                    <td>
                    {% if v in ('id', 'name') %}
                        {% set project_id = project.id %}
                        <a href="/projects/{{ project_id }}">
                        {{ project[v] }}
                        </a>
                    {% else %}
                        {{ project[v] }}
                    {% endif %}
                    </td>
                    {% endfor %}
                    {% if (user == project.owner) or (user.admin) %}
                    <td>
                        <img src="{{ url_for('static', filename='pictures/minus.png') }}"
                             onclick="delete_project({{ project.id }})"/>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        You have no projects yet.
    {% endif %}
    <p>
        <a href="/projects/add">Add Project</a>
    </p>

    <h2>Other Projects</h2>
    {% if user.member_of_projects %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped count">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    {% for k, v in project_fields %}
                    <th>
                        {{ k }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for project in user.member_of_projects -%}
                <tr>
                {% for k, v in project_fields %}
                    <td>
                    {% if v in ('id', 'name') %}
                        {% set project_id = project.id %}
                        <a href="/projects/{{ project_id }}">
                        {{ project[v] }}
                        </a>
                    {% else %}
                        {{ project[v] }}
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        You are not a member of any other projects.
    {% endif %}
{% endblock %}