{% extends "base.html" %}

{# =============================================================== #}
{# set head data #}
{# =============================================================== #}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/projects.js') }}></script>
{% endblock %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% set field_pairs = (('Project ID','id'),('Name','name'),
('Owner','owner'),('Start Date','start_date'),
('Completion Date','target_end_date')) %}

{% block content %}
    <h2>Projects</h2>
    {% if projects %}
    <p><input id="searchInput" placeholder="Filter"></p>
    <table id="aaetable" class="sortable pane bigtable stripped count">
        <thead>
            <tr class="header">
            {# create header for inventory table #}
            {% for k, v in field_pairs %}
                {# set count types for columns #}
                {% if k.lower() in ['start', 'end'] %}
                    {% set count_type = 'ignore' %}
                    {% set units = 'none' %}
                {% elif k.lower() =='owner' %}
                    {% set count_type = 'unique' %}
                    {% set units = 'none' %}
                {% else %}
                    {% set count_type = 'count' %}
                    {% set units = 'none' %}
                {% endif %}
                {% if  v == None %}
                    {% set class = " class=sorttable_nosort" %}
                {% endif %}
                <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                    {{ k }}
                </th>
            {% endfor %}
                <th class="sorttable_nosort" count_type="ignore">
                    <a href="/projects/add">
                        <img src="{{ url_for('static', filename='pictures/plus.png') }}"/>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody id="fbody">
        {% for project in projects %}
            <tr>
            {% for k, v in field_pairs %}
                <td>
                {% if v in ('id', 'name') %}
                    <a href="/projects/{{ project.id }}">{{ project[v] }}</a>
                {% else %}
                    {{ project[v] }}
                {% endif %}
                <span class="custom_count" style="display:none">{{ project[v] }}}</span>
                </td>
            {% endfor %}
            {% if (user == project.owner) or (user.admin) %}
                <td>
                    <img src="{{ url_for('static', filename='pictures/minus.png') }}"
                         onclick="delete_project({{ project.id }})"/>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        No Projects yet.
    <p>
        <a href="/projects/add">Add Project</a>
    </p>
    {% endif %}

{% endblock %}