{% extends '/base.html' %}

{# =============================================================== #}
{# set head data #}
{# =============================================================== #}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
{% endblock %}

{# =============================================================== #}
{# set variables #}
{# =============================================================== #}

{% set status_fields = (form.datetime, form.message) %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2>Add Status</h2>
    <div style="display:inline-block;width:100%;">
        <div style="float:left;">
            <form action="" method="POST" name="add_status">
                {{ form.hidden_tag() }}
                <div class="add_status">
                {% for field in status_fields %}
                    <p>
                        {{ field.label.text }}:<br>
                        {% if field.label.text.lower() == 'datetime' %}
                        {{ field(autofocus=true, class='datepicker') }}
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% for error in field.errors %}
                            <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                {% endfor %}

                </div>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
{% endblock %}