{% extends '/base.html' %}

{# =============================================================== #}
{# set head data #}
{# =============================================================== #}

{% block links %}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/filterTable.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/countTable.js') }}></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
    function updateServer(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                alert('You can view the status of the update in the "Jobs" tab.');
            }
        };
        xhttp.open("POST", '/servers/update', true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }
    {% if user.admin %}
    function deleteServer(id, next) {
        if (confirm("Are you sure you want to delete this server?") == true) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    window.location = '/servers';
                }
            };
            xhttp.open("POST", '/servers/delete', true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({id: id, next: next}));
        }
    }
    {% endif %}
{% endblock %}

{# =============================================================== #}
{# set variables #}
{# =============================================================== #}

{% set server_fields = (('ID', 'id'),('Name','name'),('Host Name','host_name'),
('Make','make'),('Model','model'),('CPU Count','cpu_count'),
('CPU Model','cpu_model'),('BIOS','bios_version'),('Memory','memory_capacity'),
('Group','group'),('Project','project')) %}

{% set drive_fields = (('Slot','slot'),('Manufacturer','manufacturer'),
('Model','model'),('Capacity','capacity'),('Standard','standard'),
('Type','type'),('Serial Number','serial_number')) %}

{% set virtual_drive_fields = (('Number','number'),('Name','name'),
('Capacity','capacity'),('RAID Level','raid')) %}

{% set network_fields = (('Device','name'),('Slot.[slot-port-virt]','slot'),
('MAC','formatted_mac'),('IP','ip'),('Type','type')) %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2>Project</h2>
    <div id="server_status">
        {% include "/servers_status.html" %}
    </div>
    <!-- Basic server info -->
    <h2 style="padding-bottom: 10px;">Basic Info</h2>
    <div style="display:inline-block;width:100%;">
        <div style="float:left;">
            <div class="pane-frame" style="width:auto;">
                <table id="aaetable" class="sortable pane bigtable stripped">
                    <tbody>
                    <tr class="header">
                    {# create header for table #}
                        <th style="text-align:right;">
                            Field:
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                    {# loop over field values for each parame #}
                    {% for k, v in server_fields %}
                    <tr>
                        <td class=".project_basic_info_key">
                            {{ k }}:
                        </td>
                        <td class=".project_basic_info_value">
                            {% if v == 'groups' %}
                                <i>{{ server.groups|join(',') }}</i>
                            {% elif v == 'make' %}
                                <i>{{ server.model.make }}</i>
                            {% elif v == 'project' %}
                                {% if server.project %}
                                <i>{{ server.project.name }}</i>
                                {% else %}
                                <i>None</i>
                                {% endif %}
                            {% else %}
                                <i>{{ server[v] }}</i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <a href="/servers/{{ server.id }}/edit">Edit Server Info</a>
        </div>
        {% if (server.project and user in server.project.members) or user.admin %}
        <div class="update_inventory_block">
            <p>Has this server's information changed?</p>
            <p><button onclick="updateServer('{{ server.id }}','')">Update</button></p>
        </div>
        {% endif %}
    </div>

    <!-- Drive info -->
    <h2 style="padding-bottom: 10px;">Drive Info</h2>
    {% if server.drives|list|length >= 1 %}
        <div class="pane-frame" style="width:100%;">
            <table id="aaetable" class="sortable pane bigtable stripped count">
                <thead>
                    <tr class="header">
                    {# create header for inventory table #}
                    {% for k, v in drive_fields %}
                        {# set count types for columns #}
                        {% if k == 'Capacity' %}
                            {% set count_type = 'sum' %}
                            {% set units = 'GB' %}
                        {% elif k in ['Slot', 'Model', 'Manufacturer', 'Standard', 'Type', 'Serial Number'] %}
                            {% set count_type = 'unique' %}
                            {% set units = 'none' %}
                        {% else %}
                            {% set count_type = 'count' %}
                            {% set units = 'none' %}
                        {% endif %}
                        {% if  v == None %}
                            {% set class = " class=sorttable_nosort" %}
                        {% endif %}
                        <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                            {{ k }}
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {# loop over drives in server #}
                {% for drive in server.drives.order_by('slot') %}
                <tr>
                {# loop over field values for each server #}
                {% for k, v in drive_fields %}
                    <td>
                        <div>
                        {% if drive[v] is defined %}
                            {{ drive[v] }}
                            <span class="custom_count" style="display:none">{{ drive[v] }}</span>
                        {% else %}
                            {{ drive['info'][v] }}
                            <span class="custom_count" style="display:none">{{ drive['info'][v] }}</span>
                        {% endif %}
                        </div>
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No drives found.
    {% endif %}

    <!-- Virtual drive info -->
    <h2 style="padding-bottom: 10px;">Virtual Drive Info</h2>
    {% if server.virtual_drives|list|length >= 1 %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped count">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                {% for k, v in virtual_drive_fields %}
                    {# set count types for columns #}
                    {% if k in ['S', 'Update'] %}
                        {% set count_type = 'ignore' %}
                        {% set units = 'none' %}
                    {% elif k in ['Memory','Capacity'] %}
                        {% set count_type = 'sum' %}
                        {% set units = 'GB' %}
                    {% elif k in ['Count'] %}
                        {% set count_type = 'sum' %}
                        {% set units = 'none' %}
                    {% elif k in ['ID', 'RAID Level'] %}
                        {% set count_type = 'unique' %}
                        {% set units = 'none' %}
                    {% else %}
                        {% set count_type = 'count' %}
                        {% set units = 'none' %}
                    {% endif %}
                    {% if  v == None %}
                        {% set class = " class=sorttable_nosort" %}
                    {% endif %}
                    <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over drives in server #}
            {% for drive in server.virtual_drives.order_by('number') %}
            <tr>
            {# loop over field values for each server #}
            {% for k, v in virtual_drive_fields %}
                <td>
                    <div>
                    {% if drive[v] is defined %}
                        {{ drive[v] }}
                        <span class="custom_count" style="display:none">{{ drive[v] }}</span>
                    {% else %}
                        Empty
                        <span class="custom_count" style="display:none">0</span>
                    {% endif %}
                    </div>
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        No virtual drives found.
    {% endif %}

    <!-- Networking info -->
    <h2 style="padding-bottom: 10px;">Network Info</h2>
    {% if server.interfaces|list|length >= 1 %}
    <div class="pane-frame" style="width:100%;">
        <table id="aaetable" class="sortable pane bigtable stripped count">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                {% for k, v in network_fields %}
                    {# set count types for columns #}
                    {% if k == 'Type' %}
                        {% set count_type = 'unique' %}
                        {% set units = 'none' %}
                    {% else %}
                        {% set count_type = 'unique' %}
                        {% set units = 'none' %}
                    {% endif %}
                    {% if  v == None %}
                        {% set class = " class=sorttable_nosort" %}
                    {% endif %}
                    <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over drives in server #}
            {% for interface in server.interfaces %}
                <tr>
                {# loop over field values for each server #}
                {% for k, v in network_fields %}
                    <td>
                        <div>
                            {% if v == 'ip' and interface.type == 'oob' and interface.ip %}
                            <a href="http://{{ interface[v] }}" target="_blank">{{ interface[v] }}</a>
                            {% else %}
                            {{ interface[v] }}
                            {% endif %}
                            <span class="custom_count" style="display:none">{{ interface[v] }}</span>
                        </div>
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No network interfaces found.</p>
    <p><a href="/servers/{{ server.id }}/add_oob">Add Out of Band Interface</a></p>
    {% endif %}
    {% if user.admin %}
    <p>
        You are admin, so you can delete this from inventory:
    <button onclick="deleteServer('{{ server.id }}','/servers')">
        Delete
    </button>
    </p>
    {% endif %}
{% endblock %}