{% extends 'base.html' %}

{% block styles %}

#hidden_row {
	display:none;
}

{% endblock %}

{% block scripts %}

(function ($) {
    $.fn.showHide = function (options) {

		//default vars for the plugin
        var defaults = {
            speed: 1,
			easing: '',
			changeText: 0,
			showText: 'Show',
			hideText: 'Hide'

        };
        var options = $.extend(defaults, options);

        $(this).click(function () {

            $('.toggleDiv').slideUp(options.speed, options.easing);
            // this var stores which button you've clicked
            var toggleClick = $(this);
            // this reads the rel attribute of the button to determine which div id to toggle
            var toggleDiv = $(this).attr('rel');
            console.log
            // here we toggle show/hide the correct div at the right speed and using which easing effect
            $(toggleDiv).slideToggle(options.speed, options.easing, function() {
            // this only fires once the animation is completed
            if(options.changeText==1){
            $(toggleDiv).is(":visible") ? toggleClick.text(options.hideText) : toggleClick.text(options.showText);
            }
            });

		  return false;

        });

    };
})(jQuery);

$(document).ready(function(){


   $('.show_hide').showHide({
		speed: 1,  // speed you want the toggle to happen
		easing: '',  // the animation effect you want. Remove this line if you dont want an effect and if you haven't included jQuery UI
		changeText: 1, // if you dont want the button text to change, set this to 0
		showText: 'View',// the button text to show when a div is closed
		hideText: 'Close' // the button text to show when a div is open

	});


});

{% endblock %}

{% block content %}
<table class="">
    <!-- Table heading -->
    <thead>
        <tr>
            <th>Rendering eng.</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Eng. vers.</th>
            <th>CSS grade</th>
        </tr>
    </thead>
    <!-- Table body -->
    <tbody>
        <!-- Table row -->
        <tr class="gradeX">
            <td>Trident</td>
            <td>Internet Explorer 4.0</td>
            <td>Win 95+</td>
            <td class="center">4</td>
            <td class="center"><a href="#" class="show_hide"
                                  rel="#hidden_row">View</a><br/></td>
        </tr>
        <tr id="hidden_row">
            <td>Trident</td>
            <td>Internet Explorer 4.0</td>
            <td>Win 95+</td>
            <td class="center">4</td>
            <td class="center">X</td>
        </tr>
        <tr id="hidden_row">
            <td>Trident</td>
            <td>Internet Explorer 4.0</td>
            <td>Win 95+</td>
            <td class="center">4</td>
            <td class="center">X</td>
        </tr>
        <tr class="gradeX">
            <td>Saphire</td>
            <td>Safari</td>
            <td>OSX 10.5</td>
            <td class="center">4</td>
            <td class="center">A+</td>
        </tr>
    </tbody>

</table>
{% endblock %}