nav {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li > ul {
    border: 1px solid #00447c;
}

.nav {
    vertical-align: top;
    display: inline-block;
}

.nav a {
    display: block;
    background: white;
    color: #00447c;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    padding: .75em 1em .75em 1em;
}

.nav li {
    position: relative;
    border: transparent;
}

.nav > li {
    float: left;
}

.nav > li:hover,
.nav > li:hover > a {
    background-color: #00447c;
}

.nav li:hover > a {
    background-color: #00447c;
    color: white;
}

.nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: transparent;
}

/* submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
}

.nav > li:hover > ul {
    background-color: #00447c;
    left: auto;
    min-width: 100%;
}

.nav > li li:hover > ul {
    background-color: #00447c;
    padding: 0 0;
    left: 100%;
    margin-left: 0;
    top: 0;
}