body {
    margin: 0;
    padding-left: 0;
    font-family: "Droid Sans", "Arial", "Times New Roman", "Comic Sans", "Open Sans", sans-serif;
    color: #414042;
    background: white url('../pictures/login_background.png') no-repeat fixed center center;
}

.top_header {
    width: 100%;
    background-color: white;
    padding-bottom: 30px;
}

.top_image {
    margin: 5px;
    height: 60px;
}

.base_footer {
    position: fixed;
    bottom: 18px;
    background: white;
}

h1 {
    position: fixed;
    margin: 0;
    width:100%;
    background-color: #3d7dca;
    font-size: 25pt;
    color: white;
    text-align: center;
}

h2 {
    border-bottom: 3px solid;
    -webkit-border-bottom-image:
      -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-bottom-image:
      -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-bottom-image:
      -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-bottom-image:
      -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
    border-bottom-image:
      linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
    color: #414042;
}

h3 {
    color: #3d7dca;
}

a {
    color: #414042;
}

a:visited {
    color: #414042;
}

.totheleft {
    float: left;
}

ul.navbar li {
    margin: 0.5em 0;
    padding: 0.3em;
    font-weight: bold;
}

ul.navbar a {
    text-decoration: none;
}

ul.navbar a:link {
    color: #bcbec0;
}

ul.navbar a:visited {
    color: #bcbec0;
}

address {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 0;
    text-align: center;
    background-color: #3d7dca;
    color: white;
}

dt {
    color: red;
}

/* ========================= sortable table ========================= */
table.sortable a.sortheader {
    text-decoration: none;
    color: black;
    display: block;
}

table.sortable span.sortarrow {
    color: #bcbec0;
    text-decoration: none;
}

/* ======================= pane ================================ */
.pane.build-name a,
.pane.build-name a:visited {
    color: black;
    text-decoration: underline;
}

.pane.build-details a,
.pane.build-details a:visited {
    color: black;
    opacity: 0.6;
    text-decoration: none;
}

.pane.build-details a:hover {
    opacity: 1.0;
    text-decoration: underline;
}

/* pane */

.pane-frame {
    display: inline-block;
    white-space: nowrap;
    border: solid 1px white;
}

#side-panel .pane-frame:hover, #side-panel .pane-frame.mouseover {
    border: solid 1px #cecece;
}

.pane-header, .pane-footer {
    padding: 8px 0;
    background-color: #414042;
    border: solid 1px #f3f3f3;
    border-left: none;
    border-right: none;
    color: #3b3b3b;
}

.pane-header {
    border-top: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.pane-footer {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pane td {
    padding: 4px 4px 3px 4px;
    vertical-align: middle;
}

table.pane {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

td.pane {
    padding: 3px 4px 3px 4px;
    vertical-align: middle;
}

table.stripped tr:nth-child(odd) {
    background: #eceef0;
}

table.stripped tr:nth-child(even) {
    background: #d3d5d8;
}

div.pane-header {
    font-weight: bold;
    padding-right: 24px;
}

div.pane-header .collapse {
    float: right;
    margin-left: 3px;
}

th.pane {
    font-weight: bold;
}

/* bigtable */

.bigtable tr {
    text-align: center;
    color: black;
    padding: 3px 4px 3px 4px;
}

table.bigtable.pane > tbody > tr > td:last-child {
    border-right: none;
}

.pane-frame table, .pane-frame .bigtable tr {
    border: none; /* Border will be provided by the pane-frame */
}

.bigtable th {
    font-weight: bold;
    border: none;
    background-color: #414042;
    color: white;
    padding: 6px 4px;
    white-space: nowrap;
}

.sortable th {
    cursor: pointer;
}

.bigtable th.sorttable_nosort {
    cursor: default;
}

.bigtable td {
    vertical-align: middle;
}

.build_step p {
    margin: 0 0 5px 0;
}
.build_step > br {
    padding: 20px;
    margin: 20px;
}

.build_step > p:nth-child(2) {
    margin-top: 10px;
}

.add_inventory p {
    margin: 0 5px 5px 0;
}

.add_inventory p:last-child {
    margin-bottom: 10px;
}

img#otto {
    position:relative;
    height:250px;
    left:0;
    top:0;
}

img#bench {
    position:relative;
    width:350px;
    height:200px;
    left:0;
    bottom:0;
}

#aaetable tr.heldserver,
#aaetable tr.heldserver > td > a {
    color: white;
}

#aaetable tr.heldserver:nth-child(odd) {
    background-color: #7cbeFF;
}

#aaetable tr.heldserver:nth-child(even) {
    background-color: #63A5FF;
}

button {
    margin: 0;
    border: 1px solid transparent;
    background-color: #414042;
    color: white;
}
button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

input#verify_new_password:disabled {
    background-color: darkgrey;
}