{% block navbar %}
    <nav>
        <ul class="nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/inventory">Inventory</a>
                <ul>
                    <li><a href="/inventory">View Inventory</a></li>
                    <li><a href="/inventory/add">Add Inventory</a></li>
                </ul>
            </li>
            <li><a href="/tests">Tests</a>
                <ul>
                    <li><a href="#">MySQL</a></li>
                    <li><a href="#">Oracle</a>
                        <ul>
                            <li><a href="#">Hardware RAID</a></li>
                            <li><a href="#">Software RAID</a></li>
                        </ul>
                    </li>
                    <li><a href="#">PostgreSQL</a></li>
                    <li><a href="#">Cassandra</a></li>
                </ul>
            </li>
            <li><a href="/jobs">Jobs</a>
                <ul>
                    <li><a href="/create_job">Create Job</a></li>
                    <li><a href="/jobs">View/Edit Jobs</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a>
                <ul>
                    <li><a href="#">Entry 1</a></li>
                    <li><a href="#">Entry 2</a></li>
                    <li><a href="#">Entry 3</a></li>
                </ul>
            </li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
{% endblock %}
