{% extends 'base.html' %}

{% set server_fields = (('ID', 'id'),('Host Name','host_name'),
('Model','model'),('CPU Count','cpu_count'),('CPU Model','cpu_model'),
('Memory','memory_capacity'),('Release','release'))%}

{% block content %}
    <h2>About Me</h2>
    <h3>My Servers</h3>
    <div class="pane-frame" style="width:100%;">
        <table id="projectstatus" class="sortable pane bigtable stripped-odd">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                    {% for k, v in server_fields %}
                    <th>
                        {{ k }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for server in user.servers -%}
                <tr>
                {% for k, v in server_fields %}
                    <td>
                    {% if v == 'id' %}
                        {% set server_id = server['id'] %}
                        <a href="/inventory/{{ server_id }}">
                        {{ server_id }}
                        </a>
                    {% elif v == 'release' %}
                        <form>
                            <button formaction='/inventory/release/{{ server.id }}'>
                                Release
                            </button>
                        </form>
                    {% else %}
                        {{ server[v] }}
                    {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}