{% extends 'base.html' %}
{% set fields=(('iDRAC/IPMI IP Address','drac_ip'),('Rack','rack'),('U','u')) %}
{% block content %}
    <h2>Add hardware</h2>
    <form action="" method="post" name="add_inventory">
        <div class="add_inventory">
        {% for k, v in fields %}
            <p>
                {{ add_inventory_form.hidden_tag() }}
                {{ k }}:<br>
                {{ add_inventory_form[v] }}
                {% for error in add_inventory_form[v].errors %}
                    <span style="color:red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        {% endfor %}

        </div>
        <input type="submit" value="submit">
    </form>
{% endblock %}