{% extends "root.html" %}
{% block head %}
    {% block scriptlinks %}{% endblock %}
    <script>
        {% block scripts %}{% endblock %}
    </script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/functions.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='javascript/sortable.js') }}></script>
    {% block stylelinks %}{% endblock %}
    {% if title %}
        <title>{{ title }} - AutoBench</title>
    {% else %}
        <title>AutoBench</title>
    {% endif %}
    <link rel="stylesheet" href={{ url_for('static', filename='mystyle.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='aaenavbar.css') }}>

{% endblock %}