{% extends "base.html" %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2>Home</h2>
    <div style="border:1px solid black;margin-top:25px;padding:10px;">
        <div style="text-align:center;font-size:25px;font-weight:bold;margin-bottom:20px;background-color:#58595b;color:white;">
            THIS is Otto AND a Bench
        </div>
        <div style="text-align:center;background:rgba(200,200,200,0.5);">
            <span style="display:block;">
            <img id="otto" src={{ url_for('static', filename='pictures/otto.png') }}>
            <img id="bench" src={{ url_for('static', filename='pictures/bench-flipped.png') }}>
            </span>
        </div>
    </div>
{% endblock %}
