{% extends "base.html" %}

{# =============================================================== #}
{# set variables #}
{# =============================================================== #}

{% set field_pairs = (('S', 'available'),('ID', 'id'),('Model','model'),
('CPUs','cpu_count'),('Model','cpu_model'),('Memory','memory_capacity'),
('Drives','model'),('Capacity','capacity'),('Count','count'),('Update',None)) %}

{% block scripts %}
    function checkout(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                var response = xhttp.responseText;
                var jsonResponse = JSON.parse(response);
                var row = document.getElementById(id);
                var row_a = row.getElementsByTagName("A")[0];
                var a_img = row_a.getElementsByTagName("IMG")[0];
                // change row class if held by you
                if (jsonResponse.i_am_holder == true) {
                    // change class to highlight row
                    row.className = 'heldserver';
                    // change link to release
                    row_a.setAttribute("onclick", "return release('" + id + "','')");
                    // change button to green
                    a_img.src = '/static/pictures/green.png';
                } else {
                    row.className = '';
                    row_a.setAttribute("onclick", "return release('" + id + "','')");
                    a_img.src = '/static/pictures/red.png';
                }
                // change title and button color
                row_a.title = jsonResponse.title;
            }
        };
        xhttp.open("POST", "/inventory/checkout", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }

    function release(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                var response = xhttp.responseText;
                var jsonResponse = JSON.parse(response);
                var row = document.getElementById(id);
                // change row class if held by you
                if (jsonResponse.i_am_holder == false) {
                    // change class to unhighlight row
                    row.className = '';
                    var row_a = row.getElementsByTagName("A")[0];
                    // change link to checkout
                    row_a.setAttribute("onclick", "return checkout('" + id + "','')");
                    row_a.title = jsonResponse.title;
                    // change image to blue circle
                    var a_img = row_a.getElementsByTagName("IMG")[0];
                    a_img.src = '/static/pictures/blue.png';

                } else {
                    row.className = '';
                    var row_a = row.getElementsByTagName("A")[0];
                    var row_img = row_a.getElementsByTagName("IMG")[0];
                    row_img.src = '/static/pictures/red.png';
                }
            }
        };
        xhttp.open("POST", "/inventory/release", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }

    function update(id, next) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                alert('Updating server. Wait 30 seconds, then reload page.');
            }
        };
        xhttp.open("POST", "/inventory/update", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({id: id, next: next}));
    }
{% endblock %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2 id="testelement">Inventory</h2>
    <div style="padding-bottom: 10px;">
        <h3>Machines available for testing:</h3>
    </div>
    <div class="pane-frame" style="width:100%;min-width:800px;">
        <table id="aaetable" class="sortable pane bigtable stripped">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                {% for k, v in field_pairs %}
                    {% if  v == None %}
                        {% set class = " class=sorttable_nosort" %}
                    {% endif %}
                    <th{{ class }}>
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for server in servers -%}
                {% if server.holder.id == user.id %}
                    {% set class = "heldserver" %}
                {% else %}
                    {% set class = '' %}
                {% endif %}
                <tr id="{{ server.id }}" class="{{ class }}">
                    {# loop over field values for each server #}
                    {% for k, v in field_pairs %}
                        <td>
                        {# if field is None, insert "update" button #}
                        {% if v != None %}
                            {% if k in ('Drives', 'Capacity', 'Count') %}
                            {% for drive in server['drive_counts'] %}
                            {{ drive[v] }}<br>
                            {% endfor %}
                            {% elif v == 'available' %}
                                {% if server['available'] %}
                                    {% set color = 'blue' %}
                                    {% set onclick = "checkout('{}','')".format(server.id) %}
                                    {% set hover_title = 'Check out this server' %}
                                {% elif server['held_by'] == user.id %}
                                    {% set color = 'green' %}
                                    {% set onclick = "release('{}','')".format(server.id) %}
                                    {% set hover_title = 'Release this server' %}
                                {% else %}
                                    {% set color = 'red' %}
                                    {% set onclick = "alert(\"You cannot check out this server\")".format(server.id) %}
                                    {% set hover_title = 'This server is held by {}'.format(server.holder) %}
                                {% endif %}
                            <a onclick="return {{ onclick }}" title="{{ hover_title }}">
                                <img src={{ url_for('static', filename='pictures/{}.png'.format(color)) }} style="width:16px;height:16px;">
                            </a>
                                <span style="display:none">{{ color }}</span>
                        {% elif server[v] is not undefined %}
                        {% if k == 'ID' %}
                            <a href="/inventory/{{ server['id'] }}">
                                {{ server[v] }}
                            </a>
                        {% else %}
                            {{ server[v] }}
                        {% endif %}
                        {% endif %}
                        {% else %}
                            {% if server.id|length > 7 %}
                            {% set disabled = 'disabled ' %}
                            {% else %}
                            {% set disabled = '' %}
                            {% endif %}
                            <button {{ disabled }}onclick="update('{{ server.id }}','')">
                                Update
                            </button>
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# add link to create inventory at bottom of inventory list #}
    <div style="padding-top: 10px;">
        <a href="/inventory/add">Add inventory</a>
    </div>
{% endblock %}
