{% extends "base.html" %}
{# set server information fields for inventory #}
{% set field_pairs = (('ID', 'id'),('Model','model'),
('CPUs','cpu_count'),('Model','cpu_model'),('Memory','memory_capacity'),
('Drives','model'),('Capacity','capacity'),('Count','count'),('Update',None)) %}

{% block content %}
    <h2>Inventory</h2>

    <div style="padding-bottom: 10px;">
        Machines available for testing:<br>
    </div>
    <div class="pane-frame" style="width:100%;">
        <table id="projectstatus" class="sortable pane bigtable stripped-odd">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                {% for k, v in field_pairs %}
                    {% if  v == None %}
                        {% set class = " class='sorttable_nosort'" %}
                    {% endif %}
                    <th{{ class }}>
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {%- for server in servers -%}
                <tr>
                {# loop over field values for each server #}
                {% for k, v in field_pairs %}
                    <td>
                    {# if field is None, insert "update" button #}
                    {% if v != None %}
                    {% if k in ('Drives', 'Capacity', 'Count') %}
                    {% for drive in server['drive_counts'] %}
                        {{ drive[v] }}<br>
                    {% endfor %}
                    {% elif server[v] is not undefined %}
                    {% if k == 'ID' %}
                        <a href="/inventory/{{ server['id'] }}">
                            {{ server[v] }}
                        </a>
                    {% else %}
                        {{ server[v] }}
                    {% endif %}
                    {% endif %}
                    {% else %}
                        <form>
                            <button formaction='/inventory/update/{{ server.interfaces.filter_by(name='DRAC').first().mac }}'>
                                Update
                            </button>
                        </form>
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# add link to create inventory at bottom of inventory list #}
    <div style="padding-top: 10px;">
        <a href="/inventory/add">Add inventory</a>
    </div>
{% endblock %}
