{% extends "base.html" %}

{# =============================================================== #}
{# set variables #}
{# =============================================================== #}

{% set field_pairs = (('S', 'available'),('Rack','rack'),('U','u'),('ID', 'id'),
('Name','name'),('Model','model'),('Memory','memory_capacity'),
('Drives','model'),('Capacity','capacity'),('Count','count')) %}

{% block links %}
    {{ super() }}
    <script type="text/javascript" src={{ url_for('static', filename='javascript/inventory.js') }}></script>
{% endblock %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% block content %}
    <h2 id="testelement">Inventory</h2>
    <div style="padding-bottom: 10px;">
        <h3>Machines available for testing:</h3>
    </div>
    <div class="pane-frame" style="width:100%;min-width:800px;">
        <table id="aaetable" class="sortable pane bigtable stripped count">
            <thead>
                <tr class="header">
                {# create header for inventory table #}
                {% for k, v in field_pairs %}
                    {# set count types for columns #}
                    {% if k in ['S', 'Update'] %}
                        {% set count_type = 'ignore' %}
                        {% set units = 'none' %}
                    {% elif k in ['Memory','Capacity'] %}
                        {% set count_type = 'sum' %}
                        {% set units = 'GB' %}
                    {% elif k in ['Count'] %}
                        {% set count_type = 'sum' %}
                        {% set units = 'none' %}
                    {% elif k in ['ID', 'Model', 'Drives', 'CPUs', 'SKU'] %}
                        {% set count_type = 'unique' %}
                        {% set units = 'none' %}
                    {% else %}
                        {% set count_type = 'count' %}
                        {% set units = 'none' %}
                    {% endif %}
                    {% if  v == None %}
                        {% set class = " class=sorttable_nosort" %}
                    {% endif %}
                    <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                        {{ k }}
                    </th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {# loop over servers in inventory #}
            {% set col_counts = [] %}
            {% for server in servers %}
                {% if server.holder.id == user.id %}
                    {% set class = "heldserver" %}
                {% else %}
                    {% set class = '' %}
                {% endif %}
                <tr id="{{ server.id }}" class="{{ class }}">
                {# loop over field values for each server #}
                {% for k, v in field_pairs %}
                    <td>
                    {% set count = 1 %}
                    {# if field is not None, populate k:v #}
                    {% if v!= None %}
                        {% if k in ('Drives', 'Capacity', 'Count') %}
                        {% for drive in server['drive_counts'] %}
                        <div>
                            {{ drive[v] }}
                            {% if k == 'Capacity' %}
                            <span class="custom_count" style="display:none">{{ drive[v]|split(0)|int }}</span>
                            {% elif k == 'Count' %}
                            <span class="custom_count" style="display:none">{{ drive[v]|int }}</span>
                            {% else %}
                            <span class="custom_count" style="display:none">{{ drive[v] }}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% elif v == 'available' %}
                            {% if server['available'] %}
                                {% set color = 'blue' %}
                                {% set onclick = "checkout('{}','')".format(server.id) %}
                                {% set hover_title = 'Check out this server' %}
                            {% elif server['held_by'] == user.id %}
                                {% set color = 'green' %}
                                {% set onclick = "release('{}','')".format(server.id) %}
                                {% set hover_title = 'Release this server' %}
                            {% else %}
                                {% set color = 'red' %}
                                {% set onclick = "alert(\"You cannot check out this server\")".format(server.id) %}
                                {% set hover_title = 'This server is held by {}'.format(server.holder) %}
                            {% endif %}
                            <a onclick="return {{ onclick }}" title="{{ hover_title }}">
                                <img src={{ url_for('static', filename='pictures/{}.png'.format(color)) }} style="width:16px;height:16px;">
                                <span class="custom_count" style="display:none">{{ color }}</span>
                            </a>
                        {% elif server[v] is not undefined %}
                        {% if k == 'ID' %}
                            <a href="/inventory/{{ server[v] }}">{{ server[v] }}</a>
                            <span class="custom_count" style="display:none">{{ server[v] }}</span>
                        {% else %}
                            {% if k == 'Memory' %}
                                {% set count = server[v]|split(0)|int %}
                            {% endif %}
                            {{ server[v] }}
                            {% if k in ['Model', 'CPUs', 'SKU'] %}
                            <span class="custom_count" style="display:none">{{ server[v] }}</span>
                            {% else %}
                            <span class="custom_count" style="display:none">{{ count }}</span>
                            {% endif %}
                        {% endif %}
                        {% endif %}
                    {# else (field is None), insert "update" button #}
                    {% else %}
                        {# if server is Supermicro #}
                        {% if server.make|lower == 'supermicro' %}
                            &nbsp;
                        {% else %}
                        <button {{ disabled }}onclick="update('{{ server.id }}','')">Update</button>
                        {% endif %}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# add link to create inventory at bottom of inventory list #}
    <div style="padding-top: 10px;">
        <a href="/inventory/add">Add inventory</a>
    </div>
{% endblock %}
