{% extends "base.html" %}

{# =============================================================== #}
{# set body data #}
{# =============================================================== #}

{% set field_pairs = (('Job ID','id'),('Message','message'),
('Creator','owner_id'),('Start','start_time'),('End','end_time'),
('Status','status')) %}

{% block content %}
    <h2>Jobs</h2>
    <table id="aaetable" class="sortable pane bigtable stripped count">
        <thead>
            <tr class="header">
            {# create header for inventory table #}
            {% for k, v in field_pairs %}
                {# set count types for columns #}
                {% if k.lower() in ['start_time', 'end_time'] %}
                    {% set count_type = 'ignore' %}
                    {% set units = 'none' %}
                {% elif k.lower() in ['message'] %}
                    {% set count_type = 'unique' %}
                    {% set units = 'none' %}
                {% else %}
                    {% set count_type = 'count' %}
                    {% set units = 'none' %}
                {% endif %}
                {% if  v == None %}
                    {% set class = " class=sorttable_nosort" %}
                {% endif %}
                <th{{ class }} unit="{{ units }}" count_type="{{ count_type }}">
                    {{ k }}
                </th>
            {% endfor %}
            </tr>
        </thead>
    </table>
{% endblock %}