{% set server_fields = (('ID', 'id'),('Host Name','host_name'),
('Model','model'),('CPU Count','cpu_count'),('CPU Model','cpu_model'),
('Memory','memory_capacity')) %}

{% if server is defined and server != None %}
    <div id="moreinfo" class="pane-frame">
        <table id="server_info"
               class="pane bigtable stripped-odd">
            <tbody>
            <tr class="header">
                {# create header for table #}
                <th colspan="2">
                    Server Info
                </th>
            </tr>
            {# loop over field values for each parame #}
            {% for k, v in server_fields %}
                <tr>
                    <td>
                        {{ k }}
                    </td>
                    <td>
                        {{ server[v] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <!-- no data -->
{% endif %}