<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>AAE Bench</title>
    <link rel="stylesheet" href="mystyle.css">
    <h1>This is AAE Bench</h1>
  </head>
  <body>

  <!-- Site navigation menu -->
  <ul class="navbar">
    <li><a href="index.html">Home page</a>
    <li><a href="inventory.html">Victims</a>
    <li><a href="tests.html">Tests</a>
    <li><a href="debug.html">Debugging</a>
  </ul>

  <!-- Main content -->
  <h2>Home</h2>

  <p>Welcome to AAE Bench! There isn't much here yet, but it's coming along!

  <p>There should be more here, but I don't know
  what yet.

  <!-- Sign and date the page, it's only polite! -->
  <address>Made 3 September 2015<br>
    by myself.</address>
  </body>
</html>
